{% extends "wall_main.html" %}
{% block content %}
{% include "wall_nav.html" %}
{% include "wall_flash.html" %}

<!-- Page Content -->
<section id="itemDetail" class="section">

    <div class="container">

        <div class="row">

            {% include "categories.html" %}

            <div class="col-md-9 padding-top-49">

                <div class="thumbnail">
                    <img class="img-responsive" src="{{ wallpaper.picture }}" alt="{{ wallpaper.name }}">
                    <div class="caption-full">
                        <h6 class="pull-right padding-left-10">
                            <a href = "{{url_for('deleteWallpaper', category_name = wallpaper.category.name, item_name = wallpaper.name)}}">Delete</a>
                        </h6>
                        <h6 class="pull-right">
                            <a href = "{{url_for('editWallpaper', category_name = wallpaper.category.name, item_name = wallpaper.name)}}">Edit</a>
                        </h6>
                        <h4>{{ wallpaper.name }}</h4>
                        <p>{{ wallpaper.description }}</p>
                    </div>

                </div>

            </div>

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /.section -->

{% endblock %}
