{% extends "wall_main.html" %}

{% block title %}{{ wallpaper.name }}{% endblock title %}

{% block content %}
{% include "wall_nav.html" %}
{% include "wall_flash.html" %}

<!-- Page Content -->
<section id="itemDetail" class="section">

    <div class="container">

        <div class="row">

            {% include "categories.html" %}

            <div class="col-md-9 padding-top-49">

                <div class="thumbnail">
                    <img class="img-responsive" src="{{ wallpaper.picture }}" alt="{{ wallpaper.name }}">
                    <div class="caption-full">
                        <h4>{{ wallpaper.name }}</h4>
                        <p>{{ wallpaper.description }}</p>
                    </div>

                </div>

            </div>

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /.section -->

{% endblock %}
