{% extends "wall_main.html" %} {% block title %}Category Wallpapers{% endblock title %} {% include "wall_nav.html" %} {% block content %}
<h1 class="text-center">{{category}} Wallpapers<br>
    <a href = "{{url_for('editCategory', category_name = category)}}" class="btn btn-success">Edit Category</a>
    <a href = "{{url_for('deleteCategory', category_name = category)}}" class="btn btn-danger">Delete Category</a>
    </h1> {% include "wall_categories.html" %}
<!-- Page Content -->
{% for i in items %}
<div class="wallpaper-thumbs">
    <div class="card h-150">
        <a href="{{url_for('showWallpaper', category_name = i.category.name, item_name = i.name)}}"><img class="card-img-top" src="{{ i.picture }}" alt="{{ i.name }}"></a>
        <div class="card-body">
            <h4 class="card-title text-center">
                <a href = "{{url_for('showWallpaper', category_name = i.category.name, item_name = i.name)}}">{{ i.name }}</a>
              </h4>
        </div>
    </div>
</div>
{% endfor %}
<!-- /.section -->
{% include "wall_footer.html" %} {% endblock %}
