    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
      <div class="container">
        <a class="navbar-brand" href="{{url_for('showCatalog')}}">Computer Wallpapers</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

      {% if 'username' not in session %}
      {% else %}
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-wallpaper">
              <a class="nav-link" href="{{url_for('addCategory')}}">Add Category</a>
            </li>
            <li class="nav-wallpaper">
              <a class="nav-link" href="{{url_for('addWallpaper')}}">Add Wallpaper</a>
            </li>
          </ul>
        </div>
{% endif %}

      {% if 'username' not in session %}
      <a href="{{url_for('showLogin')}}" class="navbar-text navbar-margin-btn">
        <button type="button" class="btn btn-success navbar-btn">
        Log In
        </button>
      </a>
      {% else %}
      <a href="{{url_for('gdisconnect')}}" class="navbar-text navbar-margin-btn">
        <button type="button" class="btn btn-danger navbar-btn">
        Logout
        </button>
      </a>
      {% endif %}





      </div>
    </nav>
{% include "wall_flash.html" %}

